@model LeaveEase.Entity.ViewModel.ResetPassWordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password";
}

<body class="loginbody">
    <div class="login-container ">
        <div class="logologin mb-5">         
            <h2 style="font-weight:900; margin-top: 10px;">LeaveEase</h2>
        </div>

        <h5 class="mb-3 ms-0 text-start " style="font-weight: 600;">Reset your password</h5>

        <form asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email">
            <input type="hidden" asp-for="Token" />
            <div class="mb-3">
                <label class="form-label">New Password <span class="text-danger">*</span></label>
                <div class="baricon password-box">
                    <input type="password" asp-for="NewPassword" class="searchbaricon" id="NewPassword"
                           placeholder="New Password">
                    <i class="bi bi-eye-fill eye-icon" onclick="togglePassword('NewPassword', this)"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password <span class="text-danger">*</span></label>
                <div class="baricon password-box">
                    <input type="password" asp-for="ConfirmPassword" class="searchbaricon" id="ConfirmPassword" placeholder="Confirm Password">
                    <i class="bi bi-eye-fill eye-icon" onclick="togglePassword('ConfirmPassword', this)"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
 
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>

    </div>
</body>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
