@model LeaveEase.Entity.ViewModel.ResetPassWordViewModel;



<div>
    <main style='padding: 10px;'>
        <p>LeaveEase</p>

        <p>Please Click the <a href='@Model.UrlLink' style='color: blue; cursor:pointer'><u>link</u></a> below to reset your password</p>
        <br>

        <p>If you encounter any issues, or have any question, please do not hesitate to contact our support team.</p>
        <br>
       
    </main>
</div>