@model LeaveEase.Entity.ViewModel.UserRegisterViewModel


<div class="modal" id="DeleteUserModel" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="p-3">
                <h5 class="modal-title" id="DeleteUserModel">Confirmation</h5>
            </div> 
            <div class="ps-4">
                <p>Are You sure You Want to Delete this User ?</p>
            </div>
            <div class="p-3 d-flex justify-content-end gap-4"> 
                <button type="button" class="btn btn-secondary CloseDeleteModel" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeleteUserButton" data-user-id="@Model.UserId">Confirm</button>
            </div>
        </div>
    </div>
</div>






